<h2>discography</h2>
<section>

    <div id='random-lyrics-div'>
    <button id='random-lyrics-btn'>get a random lyrics</button>
    <p id="random-lyrics"></p>
    <p id="random-lyrics-info"><span></span> – <span></span></p>
    </div>

    <p id="footer">Thank you to https://taylorswiftapi.herokuapp.com/ for providing the API</p>
</div>