body {
  background-color: pink;
}

section {
  display: flex;
  flex-direction: column;
}

#random-lyrics-div p {
  text-align: center;
}

#random-lyrics {
  /* text-transform: lowercase; */
  font-size: 1.5em;
}

#random-lyrics-info {
  font-style: italic;
}

#footer {
  margin-top: 4em;
}
